* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
    position: relative;
}


.section-1 {
    background-color: gray;
    width: 30%;
    height: auto;
    margin: 0 auto;
    border-radius: 10%;
    position: relative;
    z-index: 100;
}


.section-1 p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f00014;
    font-size: 3rem;
    text-align: center;
}


.section-2 {
    background-color: #f00014;
    width: 50%;
    height: auto;
    margin: 0 auto;
    /* margin-top: -1%; */
    border-radius: 10%; 
    position: relative;
    margin-top: -20px;
}


.section-2 img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
}


.section-2 p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 4rem;
    text-align: center;
}